# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual environment
venv/
ENV/
env/
venv.bak/
*.bak

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# IDEs and editors
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Local files
evidence.json

*.npy
*.csv

Bill-Agent/

Agent/processed/preprocessed_dev_baseline.json
Agent/processed/preprocessed_dev.json
Agent/processed/preprocessed_test.json
Agent/processed/preprocessed_train.json
Agent/processed/preprocessed_evidence.json

Agent/d2v_dev_baseline_df.json
Agent/d2v_dev_df.json
Agent/d2v_test_df.json
Agent/d2v_train_df.json
Agent/d2v_evidence_df.json

# Data files (not already present on GitHub)
data/